*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction:row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    height: 100vh;  

}

.box{

    flex: 1;
    width: 200px;
    height: 200px;
    background-color: aqua ;
    
}
 
.container :nth-child(odd){
    background-color:aquamarine ;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}


.card {
    width: 320px;
    margin: 60px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}


.card h1 {
    background-color: #6b90d0;
    padding: 12px;
    margin: 0;
    font-size: 20px;
}


.image-section {
    padding: 15px 0;
}

.image-section img {
    border-radius: 5px;
}


.info-section {
    padding: 10px 20px;
}

.info-section h2 {
    margin: 5px 0 10px 0;
}

.info-section p {
    margin: 6px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}


footer {
    margin-top: 15px;
    font-size: 12px;
    color: rgb(222, 130, 130);
}

